.header {
border-bottom: 5px;
border-color: white;
}
.navbar {
background-color: #333;
color:#fff;
}



.block {
border-left: solid;
border-right: solid;
border-width: 1px;
border-color: #dae6e8;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc;
}
.navbar-brand {
border-left: solid;
border-right: solid;
border-width: 1px;
border-color: #dae6e8;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc;
}
.navbar-inverse {
    border-width: none;
}


body {
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/images/ny1.jpg");
    background-color: white;

}


.rubrik {
 text-shadow: 2px 2px #81a1a5;
    text-align: center;
    font-size: 36px;
    font-family: sans-serif;
}

.underrubrik {
    color: black;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}


.img-responsive {
	align-content: center;
}

.infotext {
padding-left: 20px;
text-align: left;
font-family: sans-serif;
font-size: 20px;
margin-left: 20px;
}



.chkbogame {
    position: relative;
    top: 0px;
    right: 30px;
    bottom: 0px;
    color: gray;
}
.chkbo1surf {
    position: relative;
    top: 0px;
    right: 31px;
    color: gray;
}
.chkbo2office {
    position: relative;
    top: 0px;
    right: 37px;
    color: gray;
}
.chkbo3server {
    position: relative;
    top: 0px;
    right:33px;
    color: gray;
}






.chkbo4low {
    position: relative;
    top: 0px;
    right: 28px;
    color: gray;
}
.chkbo5mid {
    position: relative;
    top: 0px;
    right: 29px;
    color: gray;
}
.chkbo6high {
    position: relative;
    top: 0px;
    right: 25px;
    color: gray;
}




.chkboxgame {
    position: relative;
    top: 0px;
    right: 25px;
}
.chkbox1surf {
    position: relative;
    top: 0px;
    right: 26px;
}
.chkbox2office {
    position: relative;
    top: 0px;
    right: 32px;
}
.chkbox3server {
    position: relative;
    top: 0px;
    right:28px;
}





.chkbox4low {
    position: relative;
    top: 0px;
    left: -21px;
}
.chkbox5mid {
    position: relative;
    top: 0px;
    left: -23px;
}
.chkbox6high {
    position: relative;
    top: 0px;
    left: -19px;
}






.formen {

text-align:center;

}


/*
.boxa {
    align-content: center;
    text-align: center;
    border-style: solid;
    border-width: 20px;
    border-color: red;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
*/







/*Home page first content*/
.con1{

margin-top: 50px;
text-align: center;
width: auto;
padding-left: 100px;
padding-right: 100px;
background-color: rgba(218, 230, 232, 0.3);


}
/*Home page second content*/
.con2{


margin-top: 50px;
margin-bottom: 100px;
text-align: center;
width: 100%;
padding-left: 200px;
padding-right: 200px;
background-color: rgba(218, 230, 232, 0.3);



}

/*Content med bilder på Home page*/
.bilder{
margin-left: 150px;
margin-right: 150px;

}

.container {

position: relative;
right: 0px;
left: 200px;
}

/*Build guides lägg till guide form*/
.formi {
padding-bottom: 55px;
margin-top: 50px;
text-align: center;
width: auto;
margin-left:600px;
margin-right:600px;
margin-bottom:20px;
padding-left: 10px;
padding-right: 10px;
background-color: rgba(218, 230, 232, 0.5);
border-style:solid;
border-width:1px;
border-color: gray;
}


.btn {
    align-content: center;
    color: black;

}


 /*Sidebar menu i completed*/
.sidenav {
    height: 876px ;
    width: 300px; 
position: relative;
margin-top: -21px;
    background-color:#333;
}

/* Navigation menu links */
.sidenav a {
    
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


.sidenav a:hover {
    color: #f1f1f1;
}

.h3comp{
color: white;
}




.strek {

color: white


}

/*
.test {

border-top: solid;
border-color: #4dd0e1;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;


    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc;
}

*/


/*Search på completed*/

.sok {
border-top:solid;
border-width:0.1px;
border-color:#595959;
padding-top:20px;
padding-left:15px;
padding-right:15px;
}



.btn .btn-secondary {

color: red;

}







.container.marketing {

    position: relative;


padding-top:20px;

padding-bottom:20px;
left: 0px;


background-color: rgba(218, 230, 232, 0.3);
width:auto;
}




/*
.img {
  height: 100%;
  min-height: 350px;
  background: no-repeat center center scroll;

  background-size: cover;
background-color: rgba(230, 249, 255, 0.5);
}
*/



button {

background-color: none;
border: none;

}

/* knappa på homepage
.but1 {
  background-color: gray;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
}
.but1 {
  background-color: lightgray; 
  color: black; 
  border: solid;
  border-color: #dae6e8;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;


    -webkit-box-shadow: 0px 0px 4px #dae6e8;
       -moz-box-shadow: 0px 0px 4px #dae6e8;
            box-shadow: 0px 0px 4px #dae6e8;

}

.but1:hover {
  background-color: gray;
  color: white;
}

*/
/*knapp på guides*/
.but2 {
  background-color: gray; /* Green */
  border: none;
  color: white;
  padding:10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.but2 {
  background-color: lightgray; 
  color: black; 
border: solid;
border-color: #dae6e8;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;


    -webkit-box-shadow: 0px 0px 4px #dae6e8;
       -moz-box-shadow: 0px 0px 4px #dae6e8;
            box-shadow: 0px 0px 4px #dae6e8;

}

.but2:hover {
  background-color: gray;
  color: white;
}

/*knapp på completed sida*/
.but3 {
font-size-adjust: 0.35;
  border: none;
  color: white;
  padding: 0px 20px 0px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.but3 {
  background-color: lightgray; 
  color: black; 

  border: solid;
  border-color: #dae6e8;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;


    -webkit-box-shadow: 0px 0px 4px #dae6e8;
       -moz-box-shadow: 0px 0px 4px #dae6e8;
            box-shadow: 0px 0px 4px #dae6e8;

}

.but3:hover {
  background-color: gray;
  color: white;

}

/*Set your requirements formen*/

#app1 {
padding:17px;
margin-top: 50px;
text-align: center;
width: auto;
margin-left:600px;
margin-right:600px;
margin-bottom:20px;
padding-left: 10px;
padding-right: 10px;
background-color: rgba(218, 230, 232, 0.9);
border: solid;
border-color: gray;
}
/* content på guides */
.guides {
position:relative;
margin-left:525px;
margin-right:600px;
margin-top:50px;
margin-bottom:70px;
background-color:#dae6e8;
border: 1px solid gray;
width:850px;
height:300px;
background-color: rgba(218, 230, 232, 0.9);
}
.insertedguide {

position:relative;
left:540px;
bottom:350px;
font-family:serif;
font-size: 27px;
}


.insertedguidetext {

position:relative;
left:542px;
bottom:330px;
font-family:serif;
font-size: 17px;
max-width:500px;
}
.posted  {

position:relative;
left:540px;
bottom:244px;
font-family:sans-serif;
font-size: 15px;
}

.pic {
background-image: url("/images/atx.png");
    height: 220px;
    width: 220px;
    background-size: cover;
position:relative;
margin-left:580px;
margin-right:10px;
margin-top:35px;
border-style:solid;
border-width: 0.5px;
border-color:gray;
}

/*slut content på guides*/

/*content på completed*/

.completedbuilds {
position:relative;
margin-left:425px;
margin-right:600px;
margin-top:10px;
padding-top:40px;

bottom:800px;
background-color:#dae6e8;
border: 1px solid gray;
width:1000px;
height:750px;
background-color: rgba(218, 230, 232, 0.9);
}


.comptitle1 {

position:relative;
left:530px;
bottom:1535px;
font-family:serif;
font-size: 27px;

}


.specs1 {

position:relative;
left:682px;
bottom:1530px;
font-family:serif;
font-size: 17px;
max-width:500px;
}

.pic2 {
background-image: url("images/pc1.jpg");
    height: 220px;
    width: 220px;
    background-size: cover;
position:relative;
margin-left:30px;
margin-right:10px;
margin-top:35px;
border-style:solid;
border-width: 0.5px;
border-color:gray;
}
.mm {
padding-bottom:20px;
}




.comptitle2 {

position:relative;
left:510px;
bottom:1700px;
font-family:serif;
font-size: 27px;

}


.specs2 {

position:relative;
left:682px;
bottom:1690px;
font-family:serif;
font-size: 17px;
max-width:500px;
}

.pic3{
background-image: url("images/pc2.jpg");

    height: 220px;
    width: 220px;
    background-size: cover;
position:relative;
left:426px;
bottom:1420px;
margin-left:30px;
margin-right:10px;
margin-top:35px;
border-style:solid;
border-width: 0.5px;
border-color:gray;
}

.ss{
position:relative;
top:-1470px;
border-style:solid;
border-top: 30px;
border-color:#c7d9da;
margin-left:426px;
margin-right:484px;
}

#readmore1  {

position:relative;
left:456px;
bottom:1530px;
font-family:sans-serif;
font-size: 15px;
}
#readmore2  {

position:relative;
left:456px;
bottom:1695px;
font-family:sans-serif;
font-size: 15px;
}


 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 36%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.readmoreinfo {


background-color:#dae6e8;
border: 1px solid gray;
width:600px;
height:790px;
background-color: rgba(218, 230, 232, 0.9);
}

#login-buttons {

float:right;
margin-right: 10px;
margin-top:10px;

}
.accounts-dialog{
margin-right:60px;
}

#login-dropdown-list {
position: absolute!important;
right: -23px!important;
top: 0px!important;
left:-150px!important;

}


