.header {
border-bottom: 5px;
border-color: white;
}
.navbar {
background-color: #333;
color:#fff;
}

footer {
overflow: hidden;
background-color: rgba(51, 51, 51, 1);
font-size: 15px;
color: rgba(255,255,255,.7);
padding-top: 20px;
padding-bottom: 5px;
border-top: solid 1px black;

}
b {
font-weight: 550;
}
.block {
border-left: solid 1px #999;
/*
border-left: solid;
border-right: solid;
border-width: 1px;
border-color: #dae6e8;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc;
*/
}
.block .login {
padding: 15px;
border-right: solid 1px #999;
}

.navbar-inverse .navbar-brand {
color: rgba(255, 255, 255, 0.7);
}
.navbar-inverse .navbar-brand:hover {
color: rgba(255, 255, 255, 1);
}

.navbar-brand {
border-left: solid 1px #999;
/*
border-left: solid;
border-right: solid;
border-width: 1px;
border-color: #dae6e8;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc;
*/
}

.navbar-inverse {
    border-width: none;
}
.navbar-inverse .navbar-nav > li > a{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: rgba(255, 255, 255, 1);
}
body {
    height: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/images/ny1.jpg");
    background-color: white;


}


.rubrik {
 text-shadow: 2px 2px #81a1a5;
    text-align: center;
    font-size: 36px;
    font-family: sans-serif;
}

.underrubrik {
    color: black;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}


.img-responsive {
	align-content: center;
}

.infotext {
padding-left: 20px;
text-align: left;
font-family: sans-serif;
font-size: 20px;
margin-left: 20px;
}

.formen {

text-align:center;

}


/*
.boxa {
    align-content: center;
    text-align: center;
    border-style: solid;
    border-width: 20px;    position: relative;
    top: 0px;
    right: 30px;
    bottom: 0px;
    color: gray;
    border-color: red;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
*/

.homecontent {
margin-left: auto;

}


/*Home page first content*/
.con1{
margin-top: 50px;
text-align: center;
width: auto;
padding-left: 200px;
padding-right: 200px;
background-color: rgba(218, 230, 232, 0.3);


}
.homeli {
list-style: none;
}
/*Home page second content*/
.con2{
margin-top: 50px;
margin-bottom: 100px;
text-align: center;
width: auto;
padding-left: 200px;
padding-right: 200px;
background-color: rgba(218, 230, 232, 0.3);

}

/*Content med bilder på Home page*/
.bilder{
margin-left: 150px;
margin-right: 150px;

}

.container {

position: relative;
right: 0px;
left: 200px;
}

/*Build guides lägg till guide form*/
.formi {

padding-bottom: 55px;
padding:17px;
text-align: center;
width: 708px;
max-width: 708px;
min-width: 708px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
margin-bottom: 30px;
margin-top: 30px;
background-color: rgba(218, 230, 232, 0.9);
border: solid 2.5px gray;

}

.btn {
    align-content: center;
    color: black;
}

 /*Sidebar menu i completed*/
.sidenav {
height: 100%;
    width: 250px;
max-width: 250px; 
min-width: 250px; 
  z-index: 1; /* Stay on top */
    background-color:#333;
position: relative;
left: 43.5%;
  margin-right: 10px;
margin-top: -31px;
}

/* Navigation menu links */
.sidenav a {
    
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


.sidenav a:hover {
    color: #f1f1f1;
}


.h3comp{
color: white;
}
.strek {

color: white


}

/*
.test {

border-top: solid;
border-color: #4dd0e1;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;


    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc;
}

*/


/*Search på completed*/

.sok {
border-top:solid;
border-width:0.1px;
border-color:#595959;
padding-top:20px;
padding-left:15px;
padding-right:15px;
}



.btn .btn-secondary {

color: red;

}

.container.marketing {

    position: relative;


padding-top:20px;

padding-bottom:20px;
left: 0px;


background-color: rgba(218, 230, 232, 0.3);
width:auto;
}




/*
.img {
  height: 100%;
  min-height: 350px;
  background: no-repeat center center scroll;

  background-size: cover;
background-color: rgba(230, 249, 255, 0.5);
}
*/



button {

background-color: none;
border: none;

}

/* knappa på homepage
.but1 {
  background-color: gray;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
}
.but1 {
  background-color: lightgray; 
  color: black; 
  border: solid;
  border-color: #dae6e8;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;


    -webkit-box-shadow: 0px 0px 4px #dae6e8;
       -moz-box-shadow: 0px 0px 4px #dae6e8;
            box-shadow: 0px 0px 4px #dae6e8;

}

.but1:hover {
  background-color: gray;
  color: white;
}

*/
/*knapp på guides*/
.but2 {

color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 14px 12px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
  /*margin-left: calc(5vw + 1rem);*/
}
.but2:hover {
background: none;
color: black;
}

/*knapp på completed sida*/
.but3 {
font-size-adjust: 0.35;
  border: none;
  color: white;
  padding: 0px 20px 0px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.but3 {
  background-color: lightgray; 
  color: black; 

  border: solid;
  border-color: #dae6e8;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;


    -webkit-box-shadow: 0px 0px 4px #dae6e8;
       -moz-box-shadow: 0px 0px 4px #dae6e8;
            box-shadow: 0px 0px 4px #dae6e8;

}

.but3:hover {
  background-color: gray;
  color: white;

}

/*Set your requirements formen*/
#app1 {
padding:17px;
text-align: center;
width: 708px;
max-width: 708px;
min-width: 708px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
margin-bottom: 30px;
margin-top: 30px;
background-color: rgba(218, 230, 232, 0.9);
border: solid 2.5px gray;

}
/* content på guides */
.guides {
/*
margin-top:50px;
margin-bottom:70px; */
padding:17px;
width: 785px;
max-width: 785px;
min-width: 785px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
background-color: rgba(218, 230, 232, 0.9);
border: solid 2.5px gray;
margin-bottom: 20px;

}
.insertedguide {
font-family:serif;
font-size: 27px;

}


.insertedguidetext {

font-family:serif;
font-size: 17px;
max-width:500px;
}
.posted  {

 max-width:500px;
font-family:sans-serif;
font-size: 15px;
}

.pic {
  overflow: auto;
  position: absolute;
  right: 0px;
top: 0;
margin-top: 5px;
margin-right: 5px;
}

/*slut content på guides*/

/*content på completed*/

.completedbuilds {
z-index: -1;
padding:17px;
text-align: left;
width: 775px;
max-width: 775px;
min-width: 775px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
margin-bottom: 30px;
margin-top: 30px;
background-color: rgba(218, 230, 232, 0.9);
border: solid 2.5px gray;

}
#main {
display: inline-block;

}

.comptitle {
text-align: center;
font-family: serif;
font-size: 27px;

}


.specs {

font-family:serif;
font-size: 17px;
}

.pic2 {
background-image: url("images/pc1.jpg");
    height: 220px;
    width: 220px;
    background-size: cover;
position:relative;
margin-left:30px;
margin-right:10px;
margin-top:35px;
border-style:solid;
border-width: 0.5px;
border-color:gray;
}
.mm {
padding-bottom:20px;
}


.pic3{
background-image: url("images/pc2.jpg");

    height: 220px;
    width: 220px;
    background-size: cover;
position:relative;
left:426px;
bottom:1420px;
margin-left:30px;
margin-right:10px;
margin-top:35px;
border-style:solid;
border-width: 0.5px;
border-color:gray;
}


#readmore1  {

position:relative;
left:456px;
bottom:1530px;
font-family:sans-serif;
font-size: 15px;
}
#readmore2  {

position:relative;
left:456px;
bottom:1695px;
font-family:sans-serif;
font-size: 15px;
}


 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 36%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.readmoreinfo {


background-color:#dae6e8;
border: 1px solid gray;
width:600px;
height:790px;
background-color: rgba(218, 230, 232, 0.9);
}

<<<<<<< HEAD:app_meteor/client/main.css
#login-buttons {
float:right;
margin-right: 10px;
margin-top:10px;

}
#login-buttons a {
text-decoration: none;
color: rgba(255, 255, 255, 0.7);
font-size: 15px;
}
#login-buttons a:hover {
color: rgba(255, 255, 255, 1);
}
.accounts-dialog {
color: #000;
margin-right:60px;
}
#login-buttons .login-close-text {
color: #000;
}
#login-buttons .login-close-text:hover {
color: rgba(0, 0, 0, 0.7);
}

#login-dropdown-list {
position: absolute!important;
right: -23px!important;
top: 0px!important;
left:-150px!important;

}

=======
#buildchk {

text-align: left;
    float: left;
    margin: 11px;
} 
#compchk {
text-align: left;
    margin: 11px;
color: white;
position: relative;
left: 20px;
} 
>>>>>>> 61f8c042e5a3a91e378199f261bae6c241951acd:app_meteor/client/css/main.css

#cont {
border-top: solid 1px black;
}
#typecont {
    position: relative;
    left: 254px;
    right: 0;
    margin: auto;
    padding: 10px;
    text-align: left;
}

#guidechk {
    position: relative;
    left: 254px;
    right: 0;
    margin: auto;
    padding: 10px;
    text-align: left;
}

.comppic {
  position: absolute;
  right: 50px;
top: 50px;
} 
.inpprc {
width: 180px;
position: relative;
left: 5px;
right: 0;
}

textarea {
 resize: vertical;
    min-height: 34px;
 }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
    color: black;
}
#table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
font-size: 17px;
}

#table tr:nth-child(even){background-color: green;}

#table tr:hover {background-color: blue;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
